table.reportStyle {
    border: 3px solid #000000;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table.reportStyle td, table.reportStyle th {
    border: 1px solid #000000;
    padding: 4px 3px;
}

table.reportStyle tbody td {
    font-size: 6px;
    text-align: left;
}

table.reportStyle tbody td.number{
    text-align: center;
}

.text-light {
    color: #f8f9fa !important;
}

.bg-warning {
    background-color: #f9bc0b !important;
}

.bg-success {
    background-color: #3ec396 !important;
}

table.reportStyle thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.reportStyle thead th {
    font-size: 6px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

table.reportStyle tfoot td {
    font-size: 6px;
}

table.reportStyle tbody tr:nth-child(even) {
    background: #D0E4F5;
}